#!/bin/sh

# Exports
export XDG_CONFIG_HOME="$HOME/.config"
export PATH="$HOME/.local/bin:$PATH"
export SSH_AUTH_SOCK
eval $(/usr/bin/gnome-keyring-daemon --start --components=pkcs11,secrets,ssh)

# Display timeout / sleep / poweroff
xset dpms 600 900 1200

# Keyboard rate
xset r rate 350 60

# Restore pywal session
# Must be invoked before polybar launch
wal -R &

# Startup apps
sxhkd &
xsetroot -cursor_name left_ptr &
ibus-daemon -xdvr &
~/.config/polybar/launch.sh &

