#!/bin/sh

# Exports
export XDG_CONFIG_HOME="$HOME/.config"
export PATH="$HOME/.local/bin:$PATH"

# Display timeout / sleep / poweroff
xset dpms 600 900 1200

# Keyboard rate
xset r rate 350 60

# Restore pywal session
wal -R
